@use "variables" as var;

@keyframes scale-wave {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.975);
  }

  100% {
    transform: scale(1);
  }
}

.container {
  @apply grid h-full w-full
    place-content-center
    gap-24;

  .title {
    @apply text-center;

    color: var.$primary;
  }

  .skeleton {
    @apply grid gap-8;

    & > :nth-child(odd) {
      animation: scale-wave 4s ease-in-out infinite both;
      animation-delay: 0s;
    }

    & > :nth-child(even) {
      animation: scale-wave 4s ease-in-out infinite both;
      animation-delay: 1s;
    }
  }

  .button {
    @apply mx-auto w-fit;
  }
}
