@use "variables" as var;

$container: 56rem; // max-w-4xl
$slide-h: 32.5rem; /* 520px */

/* common styles */
.neumo {
  /* neumorphism */
  --neumo-shadow: 0 -10px 15px -3px rgb(255 255 255 / 10%), 0 -4px 6px -4px rgb(255 255 255 / 10%);
  --neumo-shadow-colored: 0 -10px 15px -3px rgb(255 255 255), 0 -4px 6px -4px rgb(255 255 255);

  /* shadow-lg-xl */
  --tw-shadow: 0 15px 20px -4px rgb(0 0 0 / 10%), 0 6px 8px -5px rgb(0 0 0 / 10%);
  --tw-shadow-colored: 0 15px 20px -4px var(--tw-shadow-color),
    0 6px 8px -5px var(--tw-shadow-color);

  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow), var(--neumo-shadow), var(--neumo-shadow-colored);
}

/* component styles */
.lounas-logo-full {
  @apply grid place-content-center;

  svg {
    @apply w-fit;

    aspect-ratio: 768 / 256;
  }
}

.app-link {
  @apply w-fit select-none
    rounded-full px-5
    py-3.5 font-bold;

  color: #fff;
  background-color: var.$blue;
}

.border-round-icon {
  @apply flex items-center justify-center space-x-1.5 rounded-full px-4 py-3;

  background-color: rgb(255 255 255 / 25%);
  backdrop-filter: brightness(1.2);
  border: 1.5px solid rgb(115 115 115 / 50%); // neutral-500

  & > :nth-child(1) {
    @apply text-base;

    color: #0014ff;
  }

  & > :nth-child(2) {
    @apply text-xs font-medium;

    color: var.$primary;
  }
}

/* article styles */
.container {
  @apply relative mx-auto overflow-x-clip;

  width: 100%;
  background-color: var.$bg-primary;

  img {
    @apply select-none;
  }
}

.bg-demo {
  @apply relative;

  width: 100%;
  height: 69rem;

  & > div {
    @apply grid grid-cols-5 grid-rows-1 gap-10;

    transform: translate(0%, -27.5%) rotate(45deg);

    & > :nth-child(n) {
      @apply grid place-content-center gap-8;

      & > img {
        width: 100%;
      }
    }
  }
}

.bg-demo-overlay {
  @apply absolute inset-y-0 left-0
    backdrop-blur-lg;

  width: 50%;
  height: calc(
    100% - 36rem + 4.5rem
  ); // this - div(-mt-[36rem]) + smooth-experience(rounded-t-[4.5rem])

  padding-bottom: 1rem; // smooth-experience(rounded-t-[4.5rem]) - 3.5rem

  & > :nth-child(1) {
    @apply grid h-full w-full
      place-content-center
      gap-16;

    & > h1 {
      @apply lounas-logo-full text-6xl;
    }

    & > :nth-child(2) {
      @apply grid justify-items-center gap-2;

      & > a {
        @apply app-link;
      }

      & > :nth-child(2) {
        @apply grid text-xs font-semibold;

        color: var.$secondary;
      }
    }
  }
}

.smooth-experience {
  @apply relative grid
    content-start justify-items-center gap-12
    overflow-clip rounded-t-[4.5rem]
    pb-28 pt-16;

  width: 100%;
  height: 32rem;
  background: conic-gradient(from 90deg, var.$lime 0, var.$blue 40%, var.$cyan 60%, var.$lime 100%);

  &::before {
    @apply absolute inset-0;

    content: "";
    background-color: rgb(255 255 255 / 20%);
    backdrop-filter: brightness(1.1) blur(8px);
  }

  & > :nth-child(n) {
    @apply z-10;

    &:nth-child(1) {
      @apply grid justify-items-center gap-5;

      & > h2 {
        @apply text-6xl font-bold;

        color: var.$primary;
      }

      & > h3 {
        @apply text-lg font-medium;

        color: var.$tertiary;
      }
    }

    &:nth-child(2) {
      @apply grid grid-cols-1 grid-rows-2 gap-10;

      & > :nth-child(n) {
        @apply flex items-center justify-center space-x-12;

        & > :nth-child(n) {
          @apply border-round-icon;
        }
      }
    }
  }
}

.route-first {
  @apply relative flex items-center justify-center space-x-12;

  width: 100%;
  height: calc($slide-h + 5rem); // 37.5rem

  // aspect-ratio: 16 / 10;
  padding: 9rem 3rem 4rem 6rem; /* top | right | bottom | left */
  margin-top: -9rem;
  background: linear-gradient(to bottom, rgb(255 255 255 / 0%) 0, rgb(255 255 255 / 100%) 5rem);

  & > :nth-child(1) {
    @apply relative grid gap-3;

    &::before {
      @apply absolute inset-y-0 -left-16
          my-auto rounded-full;

      width: 6px;
      height: 120%;
      content: "";
      background: linear-gradient(#0031ff, #009efd, #2af598);
    }

    & > :nth-child(n of span) {
      @apply text-2xl font-bold;

      color: var.$primary;
    }

    & > :nth-child(n of h3) {
      @apply grid gap-6
          text-6xl font-bold;

      & > :nth-child(1) {
        color: var.$cyan;
      }

      & > :nth-child(2) {
        color: #0014ff;
      }
    }
  }
}

.route-second {
  @apply relative;

  width: 100%;
  height: $slide-h;

  // aspect-ratio: 16 / 10;
  background-image: url("/images/route.webp");
  background-repeat: no-repeat;
  background-position: center 80%;
  background-size: cover;

  & > :nth-child(1) {
    @apply absolute inset-0
      flex items-center justify-center space-x-16
      overflow-clip
      backdrop-blur backdrop-brightness-90;

    padding-right: 4rem;
    padding-left: 2.5rem;

    & > :nth-child(1 of div) {
      margin-bottom: -20rem;
    }

    & > :nth-child(2) {
      @apply mt-12 grid gap-4
        font-bold;

      color: #fff;

      & > :nth-child(1) {
        @apply text-3xl;
      }

      & > :nth-child(2) {
        @apply text-6xl;
      }
    }
  }
}

.lunch-time {
  @apply relative overflow-clip;

  width: 100%;
  height: $slide-h;

  // aspect-ratio: 16 / 10;
  background-color: var.$bg-primary;

  & > :nth-child(1) {
    @apply neumo absolute inset-y-0 left-0 z-10
      my-auto 
      grid gap-4
      rounded-r-[4rem] bg-neutral-50 py-8;

    width: 51%;
    height: 75%;
    padding-right: 1rem;
    padding-left: 0.5rem;

    /* tablet (max-lg) */
    @media (width >= 1024px) {
      @apply rounded-[4rem];

      left: 15%;
      width: 30rem;
      height: 75%;
    }

    & > h4 {
      @apply text-center text-2xl font-bold;

      color: var.$primary;
    }

    & > :nth-child(2) {
      @apply absolute left-0 rounded-e-full;

      bottom: calc(35% - 2px);
      width: 75%;
      height: 22px;
      content: "";
      background: linear-gradient(to right, #0014ff, #07f);
      mix-blend-mode: hard-light;
    }

    & > :nth-child(3) {
      @apply relative grid grid-cols-2;

      & > :nth-child(n) {
        @apply grid justify-items-center gap-3;

        & > :nth-child(1) {
          @apply grid content-center justify-items-center gap-1;

          height: 75px; // image height

          & > img {
            @apply rounded-2xl;
          }

          & > :nth-child(n of span) {
            @apply text-sm font-semibold;

            color: var.$primary;
          }

          & svg {
            @apply -my-3 max-h-12;
          }
        }

        & > :nth-child(2) {
          @apply z-10
            grid place-content-center
            rounded-full;

          height: 9.25rem;
          aspect-ratio: 1 / 1;

          & > :nth-child(1) {
            @apply text-center text-xl font-bold;

            color: var.$tertiary;
          }

          & > :nth-child(2) {
            @apply text-center text-3xl font-bold;

            color: var.$primary;
          }
        }

        & > span {
          @apply text-center font-semibold;

          color: var.$tertiary;
        }
      }

      & > :nth-child(1) {
        & > :nth-child(2) {
          background-color: var.$cyan;
        }
      }

      & > :nth-child(2) {
        & > :nth-child(2) {
          background-color: var.$lime;
        }
      }
    }
  }

  & > :nth-child(2) {
    @apply absolute inset-y-0 -right-2 my-auto;

    width: 49%;
    height: 100%;

    & > :nth-child(1) {
      @apply absolute inset-y-0 my-auto blur;

      width: 100%;
      aspect-ratio: 1 / 1;

      & > :nth-child(n of svg) {
        @apply h-full w-full;
      }
    }

    & > :nth-child(2) {
      @apply grid content-center justify-items-center gap-3;

      width: 100%;
      height: calc(100% - 2rem);

      & > :nth-child(n of span) {
        @apply z-10 text-2xl font-bold;

        color: var.$primary;
      }

      & > :nth-child(1 of h3) {
        @apply z-10 text-5xl font-bold;

        color: var.$primary;

        & span {
          color: #f0c;
        }
      }
    }
  }
}

.recommend-first {
  @apply relative;

  width: 100%;
  height: $slide-h;

  // aspect-ratio: 16 / 9;

  & > :nth-child(1 of div) {
    @apply relative mx-auto max-w-5xl blur-md;

    height: 100%;

    & > :nth-child(n of span) {
      @apply absolute
        grid place-content-center
        rounded-full font-semibold;

      aspect-ratio: 1 / 1;
    }

    & > :nth-child(1) {
      @apply text-4xl;

      top: 10%;
      left: 30%;
      width: 12rem;
      color: #fff;
      background: linear-gradient(180deg, #f5576c, #f093fb);
    }

    & > :nth-child(2) {
      @apply text-3xl;

      top: 60%;
      left: 35%;
      width: 10rem;
      color: #fff;
      background: linear-gradient(180deg, #36ba64, #04e67e);
    }

    & > :nth-child(3) {
      @apply text-2xl;

      top: 35%;
      left: 55%;
      width: 8rem;
      color: #fff;
      background: linear-gradient(0deg, #0d32ff, #667eea);
    }

    & > :nth-child(4) {
      @apply relative text-sm;

      top: 80%;
      left: 58%;
      width: 5rem;
      color: var.$tertiary;

      &::before {
        @apply absolute -z-10
          h-full w-full
          rounded-full;

        aspect-ratio: 1 / 1;
        content: "";
        background: linear-gradient(to right, var.$lime, var.$cyan, var.$blue);
        transform: scale(1.1);
      }

      &::after {
        @apply absolute -z-10
          h-full w-full
          rounded-full;

        aspect-ratio: 1 / 1;
        content: "";
        background-color: #fff;
      }
    }
  }

  & > :nth-child(1 of h3) {
    @apply absolute inset-0 my-auto
        grid place-content-center gap-6
        text-center;

    height: fit-content;

    & > :nth-child(1) {
      @apply text-5xl font-bold;

      color: var.$secondary;
    }

    & > :nth-child(2) {
      @apply text-7xl font-bold;

      color: var.$primary;
    }
  }
}

.recommend-second {
  @apply mx-auto grid max-w-5xl;

  width: 100%;
  height: $slide-h;

  // aspect-ratio: 16 / 9;

  & > :nth-child(1) {
    @apply grid content-end
      text-center text-5xl font-bold;

    color: var.$secondary;
  }

  & > :nth-child(2) {
    @apply relative mx-auto
      grid grid-cols-3 content-end justify-items-center;

    width: 70%;

    & > :nth-child(1) {
      @apply absolute inset-0
        flex items-center justify-between
        font-bold;

      left: -30%;
      width: 175%;
      font-size: 22rem;
      line-height: 1;
      color: var.$primary;
    }

    & > :nth-child(n + 1) {
      @apply z-10;
    }
  }
}

.recommend-eyecatch {
  @apply grid place-content-center;

  width: 100%;
  height: calc($slide-h * 0.5);

  // aspect-ratio: 4 / 1;

  & > :nth-child(1) {
    @apply flex items-center justify-center
      text-center text-4xl font-bold;

    color: var.$secondary;
  }
}

.recommend-third {
  @apply relative mx-auto max-w-5xl;

  width: 100%;
  height: $slide-h;

  // aspect-ratio: 16 / 9;

  & > :nth-child(1) {
    @apply absolute inset-0;

    & > div {
      @apply relative overflow-y-clip;

      width: 100%;
      height: 100%;

      & > :nth-child(1 of svg) {
        @apply absolute;

        right: -31%;
        bottom: -30%;
        width: 100%;
        height: 100%;
      }
    }
  }

  & > :nth-child(2) {
    @apply relative z-10 mx-auto
      flex items-start justify-center space-x-24;

    & > :nth-child(1) {
      @apply relative flex items-center;

      & > :nth-child(2) {
        @apply absolute;

        right: -40%;
        bottom: 0;
      }
    }

    & > :nth-child(1 of h3) {
      @apply mt-12 grid gap-3;

      & > :nth-child(n of span) {
        @apply text-center text-4xl font-bold;

        color: var.$primary;
      }
    }
  }
}

.our-mission {
  @apply relative overflow-clip;

  width: 100%;
  height: calc($slide-h * 2);

  // aspect-ratio: 9 / 10;

  /* stylelint-disable-next-line no-descending-specificity */
  & > img {
    width: 100%;
    object-position: 0% 22.5%;
    object-fit: cover;
    background-color: rgb(0 0 0 / 60%);
    filter: blur(12px) brightness(0.8);
    scale: 1.05;
  }

  & > :nth-child(1 of div) {
    @apply absolute inset-0 grid place-content-center gap-[4.5rem];

    & p {
      @apply text-center text-lg font-semibold;

      color: #fff;
    }

    & > :nth-child(n) {
      @apply grid gap-14;

      & > :nth-child(n of div) {
        @apply grid gap-5;
      }
    }
  }
}

.next-niki {
  @apply relative;

  width: 100%;
  height: calc($slide-h * 1.1);

  // aspect-ratio: 16 / 10;
  background-color: var.$bg-primary;

  /* stylelint-disable-next-line no-descending-specificity */
  & > h2 {
    @apply absolute right-12 top-12 text-center font-bold;

    font-size: 1.75rem;
    line-height: 2.25rem;
    color: var.$primary;

    /* tablet (max-lg) */
    @media (width >= 1024px) {
      padding-right: 5%;
    }

    &::after {
      @apply absolute -bottom-3 rounded-full;

      right: -20%;
      width: 123%;
      height: 6px;
      content: "";
      background: linear-gradient(to right, #0031ff, #009efd, #2af598);
    }
  }

  & > :nth-child(1 of div) {
    @apply relative overflow-clip;

    width: 100%;
    height: 100%;

    .circle {
      @apply absolute;

      aspect-ratio: 1 / 1;
      clip-path: circle(50% at 50% 50%);
      mix-blend-mode: multiply;

      $blue-size: 30%;
      $cyan-size: 26%;
      $green-size: 24%;

      &.blue {
        top: -13%;
        left: -9%;
        width: $blue-size;
        background-color: var.$blue;
      }

      &.cyan {
        top: -10%;
        left: 7%;
        width: $cyan-size;
        background-color: var.$cyan;
      }

      &.green {
        top: 11%;
        left: -8.7%;
        width: $green-size;
        background-color: var.$lime;
      }

      /* tablet (max-lg) */
      @media (width >= 1024px) {
        $circle-size: 16rem;

        &.blue {
          top: calc(-1 * $circle-size * 0.325);
          left: calc(-1 * $circle-size * 0.25);
          width: $circle-size;
          background-color: var.$blue;
        }

        &.cyan {
          top: calc(-1 * $circle-size * 0.275);
          left: calc($circle-size * 0.25);
          width: calc($circle-size * 0.9);
          background-color: var.$cyan;
        }

        &.green {
          top: calc($circle-size * 0.2);
          left: calc(-1 * $circle-size * 0.32);
          width: calc($circle-size * 0.85);
          background-color: var.$lime;
        }
      }
    }
  }

  & > :nth-child(2 of div) {
    @apply absolute inset-x-0 bottom-6 m-auto grid max-w-2xl gap-6;

    & > :nth-child(1) {
      @apply py-2;

      & > h3 {
        @apply ms-6 flex items-center justify-center
        space-x-1 font-bold;

        height: 3.5rem;
        font-size: 2rem;
        line-height: 2.5rem;

        & > :nth-child(1 of span) {
          @apply lounas-logo-full;

          width: 9rem;
        }

        & > :nth-child(2 of span) {
          padding-bottom: 1px;
          margin-top: 1.125rem;
          color: var.$primary;
        }
      }
    }

    & > :nth-child(2) {
      @apply grid grid-cols-2 content-center justify-items-center;

      & > :nth-child(n) {
        @apply grid grid-cols-2 p-3;

        background-color: #fff;
        border-radius: 2rem;

        & > span {
          @apply py-2 text-center text-lg font-semibold;

          height: fit-content;
          color: var.$tertiary;
        }
      }
    }

    & > :nth-child(3) {
      @apply mx-auto;

      width: fit-content;

      & > p {
        @apply text-center text-xl font-bold;

        color: var.$secondary;

        & > a {
          @apply text-blue-600;
        }
      }
    }
  }
}

.footer {
  @apply mx-auto grid gap-2
    bg-neutral-300 px-0.5 pb-2 pt-10;

  width: 100%;
  height: 15rem;

  & > :nth-child(1) {
    @apply grid grid-cols-3;

    & > :nth-child(1 of div) {
      @apply grid gap-8 self-end ps-6;

      & > h2 {
        @apply grid justify-items-center gap-3
          text-sm;

        & > :nth-child(1) {
          @apply lounas-logo-full -my-2
            text-5xl;
        }

        & > :nth-child(2) {
          @apply font-bold;

          color: var.$secondary;
        }
      }

      & > :nth-child(1 of div) {
        @apply grid grid-cols-3 justify-items-center;

        h5 {
          @apply text-sm font-semibold text-blue-600;
        }
      }
    }

    & > :nth-child(2 of div) {
      @apply grid justify-items-center self-start;

      margin-top: 1rem;

      & > div {
        @apply relative grid gap-4;

        width: fit-content;

        &::before {
          @apply absolute inset-y-0 my-auto rounded-full bg-neutral-500;

          left: -1rem;
          width: 2px;
          height: 101%;
          content: "";
        }

        & > h4 > a {
          @apply flex items-center justify-stretch space-x-2.5;

          & > :nth-child(n of span) {
            @apply text-base;

            color: var.$secondary;
          }
        }
      }
    }

    & > :nth-child(3 of div) {
      @apply grid place-content-center gap-2 self-end;

      /* stylelint-disable-next-line no-descending-specificity */
      & > a {
        @apply app-link ms-8;
      }

      div {
        @apply grid text-xs font-medium;

        line-height: 1.5;
        color: var.$secondary;

        ul {
          @apply mx-auto font-medium;

          width: 80%;
          font-size: 0.75em;
          list-style: circle;
        }
      }
    }
  }

  & > :nth-child(2) {
    @apply grid place-content-center;

    h6 {
      @apply text-sm;

      color: var.$secondary;
    }
  }
}
