@use "variables" as var;

.card {
  @apply flex h-full w-full
    items-center justify-between
    overflow-clip rounded-[2.25rem]
    shadow-lg;

  & .image-parent {
    @apply relative w-full;

    aspect-ratio: 4 / 3;

    & > .image {
      @apply absolute object-cover;
    }

    & > .description {
      @apply absolute bottom-0
        grid h-fit w-full
        justify-items-center
        gap-0.5
        rounded-bl-3xl p-3
        text-sm font-semibold text-white
        backdrop-blur-sm backdrop-brightness-125;

      background-color: rgb(0 0 0 / 60%);
    }
  }

  & .tag {
    @apply -mx-1
      flex h-full
      items-center justify-center
      text-3xl text-white;

    background-color: var.$blue;

    &.pin {
      background-color: var.$green;
    }
  }
}
