@use "variables" as var;

.blue {
  background-color: #07f;

  @apply flex items-center justify-center;
}

.red {
  background-color: #f00;

  @apply flex items-center justify-center;
}

.aqua {
  background-color: #0ff;
}

.god {
  @apply bg-gradient-to-r from-cyan-500 to-blue-500;
}
