@use "variables" as var;

.page {
  @apply mt-20 flex items-center justify-center;
}

.main {
  width: 80%;
  background-color: rgba(var.$secondary, 10%);

  @apply flex items-center justify-between rounded-full drop-shadow-xl md:h-1/6 md:justify-around;

  .circle {
    height: calc(100dvh / 11);
    aspect-ratio: 1/1;
    font-size: calc(100dvh / 50);

    @apply m-2 rounded-full;
  }
}

.first {
  @apply bg-red-400 text-white;
}

.second {
  @apply bg-blue-400 text-white;
}

.third {
  @apply bg-green-400 text-white;
}
