@use "variables" as var;

.bg {
  @apply fixed h-screen blur-xl;

  .triangle {
    @apply -z-50 aspect-square mix-blend-multiply;

    position: absolute;
    height: auto;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);

    &.blue {
      top: 30dvh;
      left: -12dvh;
      width: 100dvh;
      background-color: var.$blue;
      transform: rotate(-120deg);
    }

    &.cyan1 {
      top: 10dvh;
      left: 8dvh;
      width: 100dvh;
      background-color: var.$cyan;
      transform: rotate(45deg);
    }

    &.green {
      top: 40dvh;
      left: -40dvh;
      width: 90dvh;
      background-color: var.$lime;
      transform: rotate(80deg);
    }

    &.cyan2 {
      top: -30dvh;
      left: -10dvh;
      width: 100dvh;
      background-color: var.$cyan;
      transform: rotate(20deg);
    }
  }
}
