@use "variables" as var;

.bg {
  @apply fixed h-screen scale-105 blur-xl brightness-110;

  .triangle {
    @apply -z-50 aspect-square mix-blend-multiply;

    position: absolute;
    height: auto;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);

    &.blue {
      top: 30dvh;
      left: -12dvh;
      width: 100dvh;
      background-color: #0072f5;
      transform: rotate(-120deg);
    }

    &.cyan1 {
      top: -15dvh;
      left: -15dvh;
      width: 75dvh;
      background-color: #00d3f5;
      transform: rotate(70deg);
    }

    &.green {
      top: 50dvh;
      left: -45dvh;
      width: 90dvh;
      background-color: #00f5aa;
      transform: rotate(80deg);
    }

    &.cyan2 {
      top: -20dvh;
      left: -5dvh;
      width: 105dvh;
      background-color: #00f5cb;
      transform: rotate(10deg);
    }
  }
}
