@use "variables" as var;

main {
  @apply flex h-screen w-full items-center justify-center overflow-clip;

  position: relative;
}

.flex-col-center {
  @apply flex flex-col items-center justify-center;
}

h1 {
  @apply text-2xl font-semibold;

  color: var.$primary;
}

a {
  @apply text-blue-600;
}

p {
  color: var.$secondary;

  & > span {
    @apply decoration-dotted;

    &.blue {
      text-decoration: var.$blue;
    }

    &.cyan {
      text-decoration: var.$cyan;
    }

    &.green {
      text-decoration: var.$lime;
    }
  }
}

.button-submit {
  @apply flex h-16 flex-col items-end justify-end space-y-4;

  & > button {
    @apply relative rounded-full bg-white px-6 py-1;

    &::before {
      @apply absolute inset-[-5px] -z-10;

      width: calc(100% + 10px);
      height: calc(100% + 10px);
      content: "";
      background: linear-gradient(to right, var.$blue 0%, var.$lime 100%);
      border-radius: inherit;
    }

    & > span {
      @apply text-xl font-semibold;

      color: var.$primary;
    }
  }
}
