@use "variables" as var;

$blue-size: 20dvh;
$cyan-size: 22dvh;
$green-size: 24dvh;

.bg {
  @apply fixed inset-0
    h-screen w-full
    overflow-clip;

  .triangle {
    @apply absolute;

    aspect-ratio: 1 / 1.2135; // 200:242.7 (golden-ratio/height*0.75) = 1:1.2135
    mix-blend-mode: multiply;
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 200 242.7"><path d="M90.6,41.919a19.5,19.5,0,0,1,36.524,0l80.229,201.767c5.357,13.471-4.2,28.263-18.262,28.263H28.638c-14.061,0-23.618-14.792-18.262-28.263Z" transform="translate(-8.866 -29.249)" fill="%23000000" /></svg>');
    transition: transform 0.9s cubic-bezier(0.83, 0, 0.17, 1); // easeInOutQuint

    &.blue {
      right: -7dvh;
      bottom: 0;
      height: $blue-size;
      background-color: var.$blue;
      transform: rotate(0deg);
    }

    &.cyan {
      right: -7.5dvh;
      bottom: -3dvh;
      height: $cyan-size;
      background-color: var.$cyan;
      transform: rotate(47deg);
    }

    &.green {
      right: -1.5dvh;
      bottom: -7dvh;
      height: $green-size;
      background-color: var.$lime;
      transform: rotate(110deg);
    }

    &.blue.move {
      right: calc(100% - $blue-size - 6.5dvh);
      bottom: 1.5dvh;
    }

    &.cyan.move {
      right: calc(100% - $cyan-size + 8dvh);
      bottom: 2dvh;
    }

    &.green.move {
      right: calc(100% - $green-size + 5dvh);
      bottom: -2px;
    }
  }
}
