.main {
  @apply sticky;

  & > .title {
    margin-top: calc(100dvh / 20);
    font-size: calc(100dvw / 12);

    @apply mx-5 font-bold;
  }

  & > .go > .text {
    margin: calc(100dvh / 50);
    color: var.$secondary;

    @apply flex items-center justify-center text-base font-bold;
  }

  & > .go > .button {
    margin-bottom: calc(100dvh / 50);

    @apply flex items-center justify-center;
  }
}
