@use "variables" as var;

.container {
  @apply grid h-full w-full
    content-center
    gap-12;

  & > .title {
    @apply w-fit
      text-4xl font-bold;

    color: var.$primary;
  }

  .sub {
    @apply mx-auto grid w-56
      justify-items-center
      gap-2;

    .text {
      @apply text-lg font-semibold;

      color: var.$tertiary;
      mix-blend-mode: hard-light;
    }

    .button {
      @apply w-full;
    }
  }

  .panel {
    @apply px-2.5;
  }
}
