@use "variables" as var;

.main {
  @apply sticky;

  & > .title {
    margin-top: calc(100dvh / 20);
    font-size: calc(100dvw / 12);

    @apply mx-5 font-bold;
  }

  & > .go > .text {
    margin: calc(100dvh / 50);
    color: var.$secondary;

    @apply flex items-center justify-center text-base font-bold;
  }

  & > .go > .button {
    margin-bottom: calc(100dvh / 50);

    @apply flex items-center justify-center;
  }
}

.bg {
  @apply blur-3xl;

  .triangle {
    @apply -z-50 aspect-square mix-blend-multiply;

    position: absolute;
    height: auto;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);

    &.blue {
      top: 30dvh;
      left: -12dvh;
      width: 100dvh;
      background-color: var.$blue;
      transform: rotate(-120deg);
    }

    &.cyan {
      top: 10dvh;
      left: 8dvh;
      width: 100dvh;
      background-color: var.$cyan;
      transform: rotate(45deg);
    }

    &.green1 {
      top: 40dvh;
      left: -40dvh;
      width: 90dvh;
      background-color: var.$lime;
      transform: rotate(80deg);
    }

    &.green2 {
      top: -30dvh;
      left: -10dvh;
      width: 100dvh;
      background-color: var.$cyan;
      transform: rotate(20deg);
    }
  }
}
