@use "variables" as var;

.circle {
  @apply flex items-center justify-center
    rounded-full;

  aspect-ratio: 1 / 1;

  & .title {
    @apply text-center
      font-semibold text-white;

    font-size: 0.75em;
  }
}

.circle-border {
  @apply flex items-center justify-center
    rounded-full;

  aspect-ratio: 1 / 1;

  &::before {
    @apply absolute -z-10
      h-full w-full
      rounded-full;

    aspect-ratio: 1 / 1;
    content: "";
    background: linear-gradient(to right, var.$lime, var.$cyan, var.$blue);
    transform: scale(1.1);
  }

  &::after {
    @apply absolute -z-10
      h-full w-full
      rounded-full;

    aspect-ratio: 1 / 1;
    content: "";
    background-color: #fff;
  }

  & .title {
    @apply text-center
      font-semibold;

    font-size: 0.75em;
    color: var.$tertiary;
  }
}
