@use "variables" as var;

.container {
  @apply grid h-screen w-full
    place-content-center
    place-items-center
    gap-12;

  background-color: var.$bg-primary;

  .title {
    @apply text-5xl font-bold;

    color: var.$primary;
  }

  .balloon {
    @apply relative
      rounded-3xl
      px-3.5 py-5;

    background-color: #e0edff;

    &::before {
      @apply absolute;

      top: 100%;
      left: 50%;
      margin-left: -1rem;
      content: "";
      border: 1rem solid transparent;
      border-top: 1rem solid #e0edff;
    }

    & > span {
      @apply text-lg font-semibold;

      color: var.$secondary;
    }
  }

  .penguin {
    @apply relative w-4/5 overflow-clip;

    aspect-ratio: 1 / 1;

    & > * {
      @apply absolute object-cover;
    }
  }

  & > a {
    @apply text-xl;

    color: var.$blue;
  }
}
