@use "variables" as var;

.card {
  @apply flex w-full
    items-center justify-between
    overflow-clip rounded-3xl
    bg-zinc-50 shadow-lg;

  aspect-ratio: 2.35 / 1;

  & .image-parent {
    @apply relative h-full;

    aspect-ratio: 1 / 1;

    & > .image {
      @apply absolute
        rounded-3xl object-cover;
    }
  }

  & .content {
    @apply flex h-full w-full
      flex-col justify-between
      px-4 py-3;

    & > .title {
      @apply font-semibold;
    }

    & > .description {
      @apply text-xs;

      color: var.$secondary;
    }
  }

  & .tag {
    @apply flex h-full
      items-center justify-center
      px-1
      text-2xl font-bold text-white;

    background-color: var.$blue;
  }
}
