@use "variables" as var;

.container {
  max-width: 22rem;
  border: 5px solid var.$blue;

  @apply z-50 fixed inset-0 h-fit m-auto p-5 w-full 
    rounded-3xl backdrop-blur;
}

.header {
  @apply py-2 sticky w-full flex items-center space-x-4 text-2xl;

  & > h1 {
    @apply flex items-center text-xl font-bold;
  }
}

.main {
  height: 40dvh;

  @apply block p-1 w-full space-y-3 
    overflow-y-auto;
}
