.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  > .title {
    color: white;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.clickable {
  cursor: pointer;
}
