@use "variables" as var;

.container {
  @apply pb-10;

  .header {
    @apply sticky top-0 z-50 flex h-full w-full flex-col bg-white pb-5 pt-14 shadow-xl;

    .title {
      @apply mx-5 my-2 text-4xl font-bold;
    }

    .guide {
      @apply mx-5 flex items-center justify-center;

      .information {
        @apply my-2 basis-7/12;

        .distance {
          @apply mb-5 text-2xl;
        }

        .route {
          @apply flex  flex-col items-center justify-center;

          .start {
            @apply text-base font-bold;
          }

          .arrowdown {
            color: var.$blue;

            @apply text-2xl font-bold;
          }

          .destination {
            @apply text-base font-bold;
          }
        }
      }

      .external {
        @apply flex basis-5/12 flex-col items-center justify-center space-y-4;

        .mapimg {
          @apply relative w-full overflow-clip rounded-lg bg-white;

          aspect-ratio: 4 / 3;

          .img {
            @apply absolute object-cover blur-sm;
          }

          .preview {
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);

            @apply absolute inset-0 m-auto h-fit w-fit;
          }
        }

        .link {
          font-size: 10px;
          color: var.$blue;

          @apply font-bold;
        }
      }
    }
  }

  .main {
    @apply m-5;

    .warning {
      @apply flex items-center justify-center;

      .icon {
        @apply mx-1 text-yellow-500;
      }

      .request {
        @apply text-sm font-semibold;
      }
    }

    .cardfull {
      position: relative;
      z-index: 1;

      @apply my-5 grid gap-9;
    }
  }

  .footer {
    @apply flex items-center justify-center;
  }
}
