@use "variables" as var;

// common styles
.message {
  @apply mx-auto flex
    items-center
    space-x-1.5;

  .text {
    @apply text-sm font-bold;

    color: var.$tertiary;
  }

  .warn {
    @apply text-sm text-amber-500;
  }
}

// page styles
.container {
  @apply mx-auto grid
    w-full max-w-3xl
    gap-12;

  .header {
    @apply sticky top-0 z-30
      grid w-full
      gap-5 px-5 py-[1.125rem]
      shadow-lg;

    background-color: var.$bg-primary;

    .title {
      @apply text-4xl font-bold;

      color: var.$primary;
    }

    .info {
      @apply grid w-full
        grid-cols-5;

      // left side (distance & route)
      & > :nth-child(1) {
        @apply col-span-3
          grid
          justify-items-start
          gap-4;

        // time & distance
        .distance {
          @apply flex
            items-center justify-between
            space-x-1
            text-2xl;

          color: var.$primary;
        }

        // origin & destination
        .route {
          @apply grid min-h-[5rem]
            content-between justify-items-center
            gap-2;

          .origin {
            @apply text-center
              text-sm font-semibold;

            color: var.$secondary;
          }

          .destination {
            @apply text-center
              text-sm font-semibold;

            color: var.$secondary;
          }

          // down arrow
          .icon {
            @apply -my-3 text-2xl;

            color: var.$blue;

            & svg {
              @apply overflow-clip;

              height: 4rem !important; // h-16
            }
          }
        }
      }

      // right side (map & link)
      & > :nth-child(2) {
        @apply col-span-2
          grid content-end
          justify-items-center gap-1;

        .map-parent {
          @apply relative w-full
            overflow-clip rounded-lg;

          aspect-ratio: 5 / 4;
          border: 2px solid rgb(255 255 255 / 80%);

          .map {
            @apply absolute
              scale-105
              object-cover
              blur-sm brightness-50;
          }

          .preview {
            @apply absolute inset-0
              m-auto h-fit w-fit
              font-semibold text-white;
          }
        }

        .link {
          font-size: 10px;
          color: var.$blue;

          @apply font-bold;
        }
      }
    }
  }

  // cards
  .main {
    @apply grid w-full
      grid-cols-1
      gap-8 px-6
      md:grid-cols-2;
  }

  // button
  .footer {
    @apply w-full;

    .button {
      @apply mx-auto w-fit;
    }
  }
}
