@use "variables" as var;

.container {
  @apply grid h-full w-full
    place-content-center
    place-items-center
    gap-8;

  .title {
    @apply text-4xl font-bold;

    color: var.$primary;
  }

  .description {
    @apply grid place-items-center gap-4 font-semibold;

    & > p {
      @apply text-center
        text-sm font-semibold
        leading-6;

      color: var.$secondary;
    }
  }

  .dialoginfo {
    @apply text-xs;

    color: var.$blue;
    border-bottom: 1px solid var.$blue;
  }

  .animation {
    & div {
      @apply w-full overflow-clip;

      aspect-ratio: 16 / 10;

      & div {
        @apply object-cover;
      }
    }
  }

  .choice {
    @apply grid gap-6;

    .query {
      @apply grid
        place-items-center text-center
        text-base font-semibold
        sm:text-lg;

      color: var.$primary;
    }

    .button {
      @apply grid grid-cols-2 gap-12;
    }
  }
}
