@use "variables" as var;

$triangle-width: 100vw;
$center: 50%;

.bg {
  @apply fixed inset-0 -z-50
    h-screen w-full
    scale-105 overflow-clip
    blur-xl brightness-[1.175];

  .triangle {
    @apply absolute;

    width: $triangle-width;
    clip-path: polygon(50% 0, 100% 100%, 0% 100%);
    mix-blend-mode: multiply;
    transform-origin: top left;

    &.blue {
      right: -75%;
      bottom: -7.5%;
      height: calc(tan(63deg) * $triangle-width / 2);
      background-color: #0072f5;
      transform: scale(1.75) rotate(-26deg) translate(-$center, -$center);
    }

    &.cyan {
      top: 5%;
      right: -69%;
      height: calc(tan(61deg) * $triangle-width / 2);
      background-color: #00d3f5;
      transform: scale(1.3) rotate(47deg) translate(-$center, -$center);
    }

    &.green {
      bottom: -3%;
      left: 25%;
      height: calc(tan(61.5deg) * $triangle-width / 2);
      background-color: #00f5aa;
      transform: scale(1.6) rotate(44deg) translate(-$center, -$center);
    }

    &.lime {
      top: 25%;
      left: 50%;
      height: calc(tan(63deg) * $triangle-width / 2);
      background-color: #00f5cb;
      transform: scale(2.5) rotate(-125deg) translate(-$center, -$center);
    }
  }
}
