@use "variables" as var;

$blue-size: 100dvh;
$cyan-size: 80dvh;
$green-size: 90dvh;
$lime-size: 110dvh;

.bg {
  @apply fixed inset-0 -z-50
    h-screen w-full
    scale-105
    overflow-clip;

  .triangle {
    @apply absolute;

    aspect-ratio: 1 / 1;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    mix-blend-mode: multiply;

    &.blue {
      top: 30dvh;
      left: -12dvh;
      width: $blue-size;
      background-color: #0072f5;
      transform: rotate(-120deg);
    }

    &.cyan {
      top: -15dvh;
      left: -13dvh;
      width: $cyan-size;
      background-color: #00d3f5;
      transform: rotate(70deg);
    }

    &.green {
      top: 50dvh;
      left: -45dvh;
      width: $green-size;
      background-color: #00f5aa;
      transform: rotate(80deg);
    }

    &.lime {
      top: -25dvh;
      left: -5dvh;
      width: $lime-size;
      background-color: #00f5cb;
      transform: rotate(10deg);
    }
  }
}
