@use "variables" as var;

.container {
  @apply grid h-full w-full place-content-center
    gap-12;

  & > .title {
    @apply text-4xl font-bold text-white;
  }

  .panel {
    @apply mx-auto grid
      h-40
      content-between
      rounded-3xl px-5 py-3
      shadow-lg;

    aspect-ratio: 1.85 / 1;
    background-color: #fff;

    .date {
      @apply text-xl font-bold;

      color: var.$tertiary;
    }

    .exp {
      @apply mx-auto grid
        w-11/12 gap-2;

      .text {
        @apply flex
          items-center justify-between
          font-semibold;

        color: var.$primary;
      }
    }
  }

  .content {
    @apply grid w-full gap-6;

    .title {
      @apply mx-auto;

      color: var.$primary;
    }

    .description {
      @apply mx-auto w-10/12
        text-center
        text-base;

      color: var.$tertiary;
    }

    .button {
      @apply mx-auto w-5/12;
    }
  }
}
