@use "variables" as var;

.container {
  @apply grid h-full w-full
    place-content-center
    place-items-center
    gap-8;

  .title {
    @apply text-4xl font-bold;

    color: var.$primary;
  }

  .animation {
    & div {
      @apply w-full overflow-clip;

      aspect-ratio: 16 / 10;

      & div {
        @apply object-cover;
      }
    }
  }

  .description {
    @apply grid gap-12;

    .secondary {
      @apply text-center
        text-base font-semibold;

      color: var.$secondary;
    }

    .primary {
      @apply text-center
        text-xl font-semibold
        sm:text-2xl;

      color: var.$primary;
    }
  }
}
