@use "variables" as var;

.screen {
  @apply fixed inset-0 m-auto  flex  h-full w-screen backdrop-brightness-75;
}

.container {
  max-width: 22rem;
  border: 5px solid var.$blue;

  @apply inset-0 m-auto h-fit rounded-3xl
    bg-white p-5 backdrop-blur;
}

.header {
  @apply sticky flex w-full items-center space-x-4 py-2 text-2xl;

  & > h1 {
    @apply flex items-center text-xl font-bold;
  }
}

.main {
  height: 40dvh;

  @apply block w-full space-y-3 overflow-y-auto 
    p-1;
}
